.panel {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;

  &.light {
    .content {
      background-color: $shade-100;
      box-shadow: $box-shadow;
      border: $border-transparent;
    }
  }
}

.content {
  flex-grow: 1;
  padding: 20px 40px;
  background-color: transparentize($shade-30, 0.618033988);
  border: 1px dashed $shade-30;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px $shade-0;

  @include phone {
    max-width: 100vw;
    padding: 20px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}
