.footer {
  padding: 50px 0;
  background-color: $nav-background-color;
  background-image: $nav-background-image;
  border-top: $border-secondary;
  color: $nav-foreground-color;
  font-size: $font-size-m-px;
  text-shadow: 1px 1px $shade-10;

  &.light {
    border-top: 1px solid $nav-background-color;
  }

  .link {
    @include color-transition($shade-80, $shade-90);
  }

  @include phone {
    display: block;
  }
}

.row {
  margin: 12px 0;
  text-align: center;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
